.main_contacto {
    padding: 3rem;
}

.main_contacto__texto {
    text-align: center;
    
    font-family: $nunito;
    padding-bottom: 1.5rem;
    border-bottom: 2px solid $negro;

    p {
        font-weight: 500;
        margin-bottom:0;
       
    }
}

.main_contacto__transportes {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;


    h3 {
        text-transform: uppercase;
        font-size: 1.6rem;
    }


    i {
        font-size: 4rem;
        color: $negro;
        padding: 2rem;
    }

}