.main-faqs {
    padding: 3rem;
    color: $negro;


    a {
        color: $rosa;
    }
}

.main-faqs__desplegable {
    font-family: $nunito;
    font-size: 1.6rem;

    .accordion-header button {
        font-family: $nunito;
        font-size: 1.8rem;
        font-weight: 700;
    }

    .accordion-button {
        &:not(.collapsed) {
            color: #fff;
            background-color: $rosa;
        }

        &:focus {
            border-color: #fff;
            box-shadow: none;
        }
    }
}