/*Banner main*/



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center !important;
    background-color: black;
    margin: auto;

    .logo {
        img {
            width: 15rem;
        margin: auto;
        }
    }
    
    .banner {
        img {
            width: 100%;
            margin: auto;
        }
    }

  

  

}





/* Servicios */

.index-servicios__container {
    padding: 1rem;
    background-color: $rosa;
    width: 100%;
}

.index-servicios {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;


    .index-servicios-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: ease-in-out 2s;

        h2 {
            font-family: $roboto;
            font-weight: map-get($font-weights, medium);
            letter-spacing: .1rem;
            color: #fff;
        }

        img {

            margin: 1rem;
            filter: invert(9);
        }

        &:hover,
        &:focus {



            img {
                filter: none;
            }

            h2 {
                color: $negro;
            }
        }

    }

}




.index-estudio {


    h2 {
        font-size: 1.8rem;
    }


    .index-estudio-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem 3rem 1rem 3rem;


        a {
            color: $rosa;
        }

        p {
            margin-top: 1rem;
            color: $negro;
        }

        .main-faqs {
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

        }

        img {
            margin: 1rem;
        }

    }

    .index-estudio-texto {
        vertical-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: $negro;
        padding: 3rem;


        p {
            font-size: 1.8rem;

            a {
                color: $rosa;
            }

        }

        .texto__bold {
            font-weight: map-get($font-weights, medium);
        }

        .boton-ver-mas {
            display: flex;
            justify-content: center;
        }

        h2 {
            font-size: 1.8rem;
        }




    }



}

/* Galería - Sólo desktop */

.gallery-container {
    background-color: #fff;
    padding: 0rem 3rem 3rem 3rem;

    .gallery-texto {

        h2 {
            text-align: center;
        }

    }



    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10vmin;
        overflow: hidden;


        .card {
            flex: 1;
            transition: all 1s ease-in-out;
            height: 75vmin;
            position: relative;


            .card__head {
                font-family: $roboto;
                color: $negro;
                background: $rosa;
                padding: 0.5em;
                transform: rotate(-90deg);
                transform-origin: 0% 0%;
                transition: all 0.5s ease-in-out;
                min-width: 100%;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 1em;
                white-space: nowrap;
            }

            &:hover {
                flex-grow: 10;

                img {
                    filter: grayscale(0);
                }

                .card__head {
                    text-align: center;
                    top: calc(100% - 2em);
                    color: white;
                    background: rgba(0, 0, 0, 0.5);
                    font-size: 2em;
                    transform: rotate(0deg) skew(-5deg);



                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 1s ease-in-out;
                filter: grayscale(100%);
            }

            &:not(:nth-child(4)) {
                margin-right: 1em;
            }
        }
    }

    .gallery-2 {
        transform: skew(-5deg);
    }
}






/*

.gallery {
    display: flex;
    padding: 2px;
    transition: .3s;
    color: #fff;

    &-container-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__link {
        margin: 2px;
        overflow: hidden;

        &:hover {
            .gallery__image {
                filter: grayscale(0);
            }

            .gallery__caption {
                opacity: 1;
            }
        }
    }

    &__thumb {
        position: relative;
       
    }

    &__image {
        display: block;
        width: 100%;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px 15px 15px;
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: white;
        opacity: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
        transition: .3s;
    }
}

/* Reviews */

.index-reviews {


    text-align: center;



    h2 {
        padding: 2rem;
    }

    h3 {
        font-size: 1.6rem;
        text-transform: uppercase;
    }


    .index-reviews__card {

        padding: 3rem;
        transition: 0.5s;
        background-color: $aqua;
        margin: 1rem;

        &:hover {
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }



        h2 {
            font-size: 1.8rem;
            line-height: 1;
            letter-spacing: .1rem;
            margin: 2rem 0;
            transition: color .45s ease;
            text-transform: uppercase;
            transition: color .45s ease;
            border-top: 1px solid $negro;
            padding: 1rem;

        }


        p {
            color: $negro;
            line-height: 1.8;

        }

        .card__icon {

            i {


                font-size: 1.6rem;
            }
        }

    }

    .index-reviews__card--rosa {
        background-color: $rosa;
    }
}