/* Banner */

.index {
    background-color: $rosa;
    height: auto;


    .index__banner {
        width: 80vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;


        h1 {
            font-family: $roboto;
            transition: .2s;
            transition-timing-function: ease-in-out;
            color: $negro;

            padding: .5rem 0;


        }


        h2 {
            font-weight: map-get($font-weights, bold);
            margin-bottom: 1rem;
            letter-spacing: 0.2rem;
            transition: .3s;
            transition-timing-function: ease-in;
            color: $negro;
            padding: .5rem 0;


        }
    }


    .index__banner__img {
        img {
            object-fit: cover;
            object-position: center center;
            padding: 3rem;
        }
    }

    .index__banner__sub {
        font-family: $nunito;
        color: #fff;
        letter-spacing: .1rem;
        font-weight: map-get($font-weights, medium);
    }



}



/* Servicios */

.index-servicios__container {
    padding: 1rem;
}

.index-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;


    .index-servicios__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 1rem;

        h2 {
            font-size: 1.8rem;
            margin: 1rem 0;
            font-weight: map-get($font-weights, medium);
            letter-spacing: .1rem;
        }

        img {
            width: 7rem;
            margin-top: 1rem;
        }

    }

}

/* Estudio */

.index-estudio {
    box-shadow: $sombra;
    background-color: #fff;



    .index-estudio__img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem;

    }

    .index-estudio__texto {
        padding: 3rem;
        vertical-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;


        p {
            font-size: 1.8rem;

        }

        .texto__bold {
            font-weight: map-get($font-weights, medium);
        }

        .boton-ver-mas {
            display: flex;
            justify-content: center;
        }


    }

    .index-estudio__texto--padding {
        border-bottom: 1rem double;
        border-bottom-color: rgba(185, 210, 177, 0.2);
    }

    .index-estudio__logos {

        img {
            padding: 3rem;
            max-height: 20rem;
        }
    }



}

/* Galería - Sólo desktop */

.gallery {
    display: flex;
    padding: 2px;
    transition: .3s;
    margin: 3rem;

    .gallery__titulo {
        display: flex;
        flex-direction: column;

        img {
            height: 50%;
            width: 50%;
        }

        h3 {
            font-family: $nunito;
            padding: .5rem;
            border-bottom: .2rem solid $negro;

        }

        li {
            list-style-type: none;
            font-size: 1.6rem;
            padding: .5rem;

            a {
                color: $negro;
            }


        }

    }



    &__column {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    &__link {
        margin: 2px;
        overflow: hidden;

        &:hover {
            .gallery__image {
                filter: grayscale(0);
            }

            .gallery__caption {
                opacity: 1;
            }
        }
    }

    &__thumb {
        position: relative;
    }

    &__image {
        display: block;
        width: 100%;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px 15px 15px;
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: white;
        opacity: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
        transition: .3s;
    }
}

/* Reviews */

.index-reviews {

    margin-top: 3rem;
    text-align: center;


    h2 {
        padding: 2rem;
    }

    h3 {
        font-size: 1.6rem;
        text-transform: uppercase;
    }


    .index-reviews__card {

        margin: 1rem;
        padding: 3rem;
        transition: 0.5s;
        background-color: $aqua;

        &:hover {
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }



        h2 {
            font-size: 1.8rem;
            line-height: 1;
            letter-spacing: .1rem;
            margin: 2rem 0;
            transition: color .45s ease;
            text-transform: uppercase;
            transition: color .45s ease;
            border-top: 1px solid $negro;
            padding: 1rem;

        }


        p {
            color: $negro;
            line-height: 1.8;

        }

        .card__icon {

            i {


                font-size: 1.6rem;
            }
        }

    }

    .index-reviews__card--rosa {
        background-color: $rosa;
    }
}

/* GrowShop */

.index-weedside {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem .5rem;
    margin: 2rem;


    .index-weedside__img {


        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            padding: 1rem;
        }

    }


}



/* Form contacto */

.contenedor__form {
    padding: 0 2rem;
}

.index-contacto {

    background-color: $aqua;

    .index-contacto__titulo {
        h2 {
            padding-left: 3rem;
            padding-top: 3rem;
            font-size: 1.8rem;
        }
    }

    form {
        font-family: $nunito;
        font-weight: map-get($font-weights, medium);
        font-size: 1.6rem;
        padding: 2rem;


        input,
        textarea {
            font-family: $nunito;
            font-weight: 300;
        }
    }

    .index-contacto__map {
        padding: 2rem;
    }
}