.container-banner {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    
}


.marquee {
    
    font-weight: bold;
    position: relative;
    z-index: 1;


    &:nth-child(1) {
        transform: translateX(-30vw);
        color:$negro;

        
    }

    &:nth-child(2) {
        color: #fff;
        transform: translateX(-20vw);
    }
}

.marquee__inner {
    width: fit-content;
    display: flex;
    animation: marquee 20s linear infinite;
    white-space: nowrap;

    span {
        margin-right: 0.25em;
        text-transform: uppercase;
        font-family: $roboto;
        
    }
}



@keyframes marquee {
    0% {
        transform: translateX(0%)
    }

    100% {
        transform: translateX(-25%)
    }
}

.event__info {

    
    h3 {
        text-align: center;
        font-family: $roboto;
        margin-top:1rem;
        font-weight: 700;
        color:$negro;
    

    }

    a {
        background-color: $negro;
        
    }
}

.event__btn {
    display: flex;
    
    .button--index {
        margin:1rem;
    }
}

/* Servicios */

.index-servicios__container {
    padding: 1rem;
}

.index-servicios {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;


    .index-servicios__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 1rem;

        h2 {
            font-size: 1.8rem;
            margin: 1rem 0;
            font-weight: map-get($font-weights, medium);
            letter-spacing: .1rem;
        }

        img {
            width: 7rem;
            margin-top: 1rem;
        }

    }

}

/* Estudio */

.index-estudio {
    
    position: relative;
    top:-12rem;
    margin-bottom:-15rem;



    .index-estudio__img {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top:5%;

        a {
            color:$rosa;
        }

        p {
            margin-top:1rem;
        }

        .main-faqs {
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

            h2 {
                font-size: 1.8rem;
            }
        }

        img {
            padding:1rem ;
        }

    }

    .index-estudio__texto {
        padding: 3rem;
        vertical-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color:$negro;
        margin-top:5%;


        p {
            font-size: 1.8rem;

        }

        .texto__bold {
            font-weight: map-get($font-weights, medium);
        }

        .boton-ver-mas {
            display: flex;
            justify-content: center;
        }

        h2 {
            font-size: 1.8rem;
        }

        


    }

    .event__texto a {
        color:$rosa;
    }
    
    .index-estudio__texto h2 a {
        color:$rosa;
    }

    .index-estudio__texto--padding {
        
    }

    .index-estudio__logos {

        img {
            padding: 3rem;
            max-height: 20rem;
        }

        a {
            color:#fff;
        }
    }



}

/* Galería - Sólo desktop */

.gallery__container {
    background-color: $rosa;
    position: relative;
    top:-10rem;
}

.gallery {
    display: flex;
    padding: 2px;
    transition: .3s;
    color:#fff;

   
   

    .gallery__titulo {
        display: flex;
        flex-direction: column;

        img {
            height: 50%;
            width: 50%;
        }

        h3 {
            font-family: $nunito;
            padding: .5rem;
            border-bottom: .2rem solid $negro;

        }

        li {
            list-style-type: none;
            font-size: 1.6rem;
            padding: .5rem;

            a {
                color: $negro;
            }


        }

    }



    &__column {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    &__link {
        margin: 2px;
        overflow: hidden;

        &:hover {
            .gallery__image {
                filter: grayscale(0);
            }

            .gallery__caption {
                opacity: 1;
            }
        }
    }

    &__thumb {
        position: relative;
    }

    &__image {
        display: block;
        width: 100%;
        transition: .3s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__caption {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 25px 15px 15px;
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: white;
        opacity: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
        transition: .3s;
    }
}

/* Reviews */

.index-reviews {
    
    margin: 1rem;
    margin-top:-5rem;
    text-align: center;



    h2 {
        padding: 2rem;
    }

    h3 {
        font-size: 1.6rem;
        text-transform: uppercase;
    }


    .index-reviews__card {

        padding: 3rem;
        transition: 0.5s;
        background-color: $aqua;
        margin: 1rem;

        &:hover {
            box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        }



        h2 {
            font-size: 1.8rem;
            line-height: 1;
            letter-spacing: .1rem;
            margin: 2rem 0;
            transition: color .45s ease;
            text-transform: uppercase;
            transition: color .45s ease;
            border-top: 1px solid $negro;
            padding: 1rem;

        }


        p {
            color: $negro;
            line-height: 1.8;

        }

        .card__icon {

            i {


                font-size: 1.6rem;
            }
        }

    }

    .index-reviews__card--rosa {
        background-color: $rosa;
    }
}

/* GrowShop */

.index-weedside {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem .5rem;
    margin: 2rem;
    margin-top:-5rem;



    .index-weedside__img {


        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            padding: 1rem;
        }

    }


}



/* Form contacto */

.contenedor__form {
    padding: 0 2rem;
    flex-direction: column;
}

.index-contacto {

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    background-color: $gris;

    .index-contacto__titulo {
        h2 {
            padding-left: 3rem;
            padding-top: 3rem;
            font-size: 1.8rem;
        }

    
    }


    .index-contacto__map {
        padding: 2rem;
    }
}

.back {
    margin:-2px;
}

