/* Colores */

$rosa: #FB9DC6;
/*$negro: #30343F;*/
$negro:#000;
$gris: #E9E9E9;
$aqua: #B9D2B1;


/* Fuentes */

$nunito: 'Nunito',
sans-serif;
$roboto: 'Roboto',
sans-serif;
$font-weights: ("regular": 300, "medium": 700, "bold": 900);

/* Estilos */
$sombra: rgba(17, 17, 26, 0.05) 0px 4px 16px,
rgba(17, 17, 26, 0.05) 0px 8px 32px;

@mixin button-dharma--no_hover ($background-button) {
    letter-spacing: .1rem;
    padding: 1.6rem;
    background-color: $background-button;
    text-transform: uppercase;
    font-family: $nunito;
    font-weight: map-get($font-weights, medium);
    font-size: 1.8rem;
    text-align: center;
    display: inline-block;

    a {
        color: $negro;
    }
}

@mixin button-dharma ($background-button) {

    letter-spacing: .1rem;
    padding: 1.6rem;
    background-color: $background-button;
    text-transform: uppercase;
    font-family: $nunito;
    font-weight: map-get($font-weights, medium);
    font-size: 1.8rem;
    text-align: center;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    display: inline-block;
    position: relative;
    touch-action: manipulation;


    a {
        color: #fff;
        z-index: 1;
        position: relative;
    }

    &:before {
        animation: .5s step-end forwards;
        backface-visibility: hidden;
        background-color: $rosa;
        clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateZ(0);
        transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
        width: 100%;


    }

    &:hover:before {
        animation: 0s step-start forwards;
        clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
    }


}


@mixin button-form {

    letter-spacing: .1rem;
    padding: 1.4rem;
    background-color: $negro;
    text-transform: uppercase;
    font-family: $nunito;
    font-weight: map-get($font-weights, medium);
    font-size: 1.4rem;
    text-align: center;
    border: none;
    margin-right: 1rem;
    color: #fff;


}




@media screen and (min-width: 1024px) {
    .index__banner {

        h1 {
            font-size: 10vw;
            line-height: 8vw;
        }

        h2 {
            font-size: 4vw;
        }
    }

    .marquee {
        font-size: 15rem;

        &:nth-child(1) {

            margin-bottom: -7rem;

        }
    }

}



@media screen and (max-width: 769px) {
    .index__banner {

        h1 {
            font-size: 10vw;
            line-height: 8vw;
        }

        h2 {
            font-size: 4.5vw;
        }
    }

    .event__btn {
        flex-direction: column;
    }

    .marquee {
        font-size: 15rem;

        &:nth-child(1) {

            margin-bottom: -7rem;

        }
    }

}

@media screen and (max-width: 481px) {

    p {
        font-size:1.4rem!important;
    }

    h2 {
        font-size: 1.8rem!important;
    }

    h3 {
        font-size: 1.6rem!important;
    }

    .header__top p {
        font-size: .9rem!important;
    }

    .event__info {


        h3 {
            text-align: center;
            font-family: $roboto;
            margin-top: 1rem;
            font-weight: 700;
            color: $negro;
            font-size: 1.8rem!important;

        }

        a {
            background-color: $negro;

        }
    }

    .event__btn {
        display: flex;


        .button--index {
            font-size: 1.4rem;
            padding: 1.2rem;
            margin:0!important;
            margin-top: 1rem!important;
        }
    }

    

    .marquee {
        font-size: 10rem;

        &:nth-child(1) {

            margin-bottom: -5rem;

        }


    }

    .event__texto {
        padding-top: 0 !important;
        
    }

    .index-estudio__logos img {
        padding: 1.5rem !important;
    }

    .button {
        font-size: 1.4rem!important;
        padding: 1.2rem!important;
    }


    .boton-ver-mas {
        font-size: 1.4rem;
            padding: 1.2rem;

            .button {
                width: 100%;
                
            }
    }

    .main-faqs {
        box-shadow: none!important;
        margin-bottom: 5%;

        
    }

    .footer__copyright  {

        p,
        i {
        font-size: 1.2rem!important;}
    }

    .footer__logos {
        margin:0!important;
        margin:1rem 0!important;
    }
    

}


@media screen and (max-width: 361px) {

    .index__banner {
        h1 {
            font-size: 17vw;
            line-height: 13vw;
        }

        h2 {
            font-size: 7vw;
        }
    }

}

@media screen and (max-width: 320px) {

    .index__banner {
        h1 {
            font-size: 17vw;
            line-height: 13vw;
        }

        h2 {
            font-size: 7vw;
        }
    }

}