* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700;900&family=Roboto:wght@300;400;700;900&display=swap');


@import "var";
@import "shared";
@import "index";
@import "estudio";
@import "artistas";
@import "contacto";
@import "faqs";


